.details-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
}

.details-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.details-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-right: 1px solid hsl(0, 0%, 17%);
}

.details-item:last-child {
    border-right: none;
}

.details-title {
    color: hsl(0, 0%, 59%);
    margin-bottom: 5px;
}

.details-text {
    color: hsl(0, 0%, 17%);
    font-weight: 500;
}

@media (max-width: 768px) {
    .details-container {
        flex-direction: column;
        height: 35vh;
        padding: 10px;
        margin: 0px 10px;
        overflow: hidden;
    }
    
    .details-item {
        flex: 1;
        border-right: none;
        padding: 0px;
    }

    .details-item:last-child {
        border-bottom: none;
    }
    
    .details-title {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
        color: hsl(0, 0%, 59%);
    }
    
    .details-text {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 0px;
        color: hsl(0, 0%, 17%);
    }
}